
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0da0f5;
  padding: 10px;
  border-bottom: 1px solid #18e5ca;
}


nav a {
  text-decoration: none;
  color: #f7f9fb;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
nav a.active {
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
}

nav a:hover {
  background-color: #e2e6ea;
  color: #0056b3;
}